# Order is important. The last matching pattern has the most precedence.

*                     @dynamo/dynamo-core-team
docs-chef-io/**       @dynamo/dynamo-core-team @dynamo/docs-team
*.md                  @dynamo/dynamo-core-team @dynamo/docs-team
