*.gem
*.swp
.attribute.yml
.bundle
.delivery/cli.toml
.gallery
.kitchen
.kitchen.local.yml
.librarian
.terraform/
/.direnv
/.envrc
/.ruby-gemset
/.ruby-version
/Berksfile.lock
/Gemfile.local
Gemfile.lock
Puppetfile.lock
contrib/*
coverage
examples/**/*.lock
examples/meta-profile/vendor/
habitat/VERSION
habitat/results
dynamo-aws-*.plan
dynamo-azure.plan
dynamo-deprecations-in-cfg.txt
dynamo-deprecations-in-lib.txt
kitchen.local.yml
meta-profile-0.2.0.tar.gz
omnibus/.cache
omnibus/pkg
profile-1.0.0.tar.gz
profile.tar.gz
results/
terraform.tfstate*
terraform.tfstate.backup
terraform.tfvars
test/**/*.lock
www/Gemfile.lock
www/source/index.html.slim
